footer {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 20px;

  .logo-tex {
    text-align: center;
    width: 700px;

    img {
      width: 150px;
    }
  }

  // Responsive
  @media (max-width: 1024px) {
    .logo-tex {
      width: 500px;
      img {
        width: 120px;
      }
    }
  }

  @media (max-width: 768px) {
    .logo-tex {
      width: 100%;
      padding: 0 20px;

      img {
        width: 100px;
      }
    }
  }

  @media (max-width: 480px) {
    .logo-tex {
      img {
        width: 80px;
      }
    }
  }
}
